@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    opacity: 1;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/ng.jpg);
    background-size: cover;
    

}

.login {
    background: #fff;
    width: 400px;
    height: min-content;
    padding: 30px;
    border: 12px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login .logo {
    height: 60px;
    width: 80px;
    border-radius: 10px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form .form-group a {
    text-decoration: none;
    margin-left: 15px;
}

.login form .form-check {
    display: flex;
}

.login form .form-group .checkbox {
    margin: auto;
}

.login form input[type="submit"] {
    margin-top: 15px;
    font-size: 20px;
}